<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path, method: :delete %>
      <p>ログイン完了ユーザ：<%= current_user.name %></p>
      <%= render 'layouts/flash_messages' %>
    <% else %>
      <%= link_to 'Signup', signup_path %>
      <%= link_to 'Login', login_path %>
      <%= render 'layouts/flash_messages' %>
    <% end %>
    <%= yield %>
  </body>
</html>
